Node Red Flow.json
[{"id":"86d9aa97.a961c8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"8cf44a3e.bbdfc8","type":"ui_text","z":"86d9aa97.a961c8","group":"f41724c1.51d248","order":9,"width":7,"height":1,"name":"","label":"Predication Power","format":"{{msg.payload}}","layout":"row-spread","x":990,"y":140,"wires":[]},{"id":"9c6b82cb.29497","type":"debug","z":"86d9aa97.a961c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":940,"y":100,"wires":[]},{"id":"eaabe76.b04aa18","type":"ui_form","z":"86d9aa97.a961c8","name":"","label":"","group":"f41724c1.51d248","order":1,"width":7,"height":4,"options":[{"label":"Wind Speed","value":"sp","type":"number","required":true,"rows":null},{"label":"Wind Direction","value":"de","type":"number","required":true,"rows":null},{"label":"Theoretical Power","value":"eg","type":"number","required":true,"rows":null}],"formValue":{"sp":"","de":"","eg":""},"payload":"","submit":"submit","cancel":"","topic":"","x":130,"y":320,"wires":[["30952a1c.5bdc06"]],"icon":"node-red/cog.svg"},{"id":"30952a1c.5bdc06","type":"function","z":"86d9aa97.a961c8","name":"Pre Token","func":"global.set(\"sp\",msg.payload.sp)\nglobal.set(\"de\",msg.payload.de)\nglobal.set(\"eg\",msg.payload.eg)\nvar apikey = \"YcmRf3furEZvRswGtqFDQ2NoshyhwjW-Ul9--Kla-CaA\";\nmsg.headers = {\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload = {\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":320,"wires":[["55664fbe.50595"]]},{"id":"55664fbe.50595","type":"http request","z":"86d9aa97.a961c8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":440,"y":280,"wires":[["69e9af2d.573bb","f398109b.7a98b"]]},{"id":"f398109b.7a98b","type":"function","z":"86d9aa97.a961c8","name":"Pre Predication","func":"\nvar sp = global.get('sp')\nvar eg = global.get('eg')\nvar de = global.get('de')\nvar token = msg.payload.access_token\nvar instance_id = \"ce4c95b7-0bf0-4e31-8a40-2fa03f9b7a35\";\nmsg.headers = {'Content-Type':'application/json',\"Authorization\":\"Bearer\"+token,\"ML-instance-ID\":instance_id}\nmsg.payload = {\"fields\":[\"fd\",\"de\",\"ped\"],\"values\":[[sp,eg,de]]}\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":200,"wires":[["20609b58.95de34"]]},{"id":"69e9af2d.573bb","type":"debug","z":"86d9aa97.a961c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":480,"y":380,"wires":[]},{"id":"20609b58.95de34","type":"http request","z":"86d9aa97.a961c8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/ce4c95b7-0bf0-4e31-8a40-2fa03f9b7a35/deployments/49173376-dba5-4262-9486-3e68515415a8/online","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":260,"wires":[["913545a0.3e4908","f3112d63.48ebb"]]},{"id":"913545a0.3e4908","type":"debug","z":"86d9aa97.a961c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":840,"y":340,"wires":[]},{"id":"f3112d63.48ebb","type":"function","z":"86d9aa97.a961c8","name":"","func":"msg.payload = 72*6*msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":140,"wires":[["8cf44a3e.bbdfc8","9c6b82cb.29497","7191af4b.e1a4e"]]},{"id":"1bb70510.e6bdcb","type":"http request","z":"86d9aa97.a961c8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","persist":false,"authType":"","x":700,"y":460,"wires":[[]]},{"id":"23d0b354.d229dc","type":"inject","z":"86d9aa97.a961c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":620,"wires":[["c369b64f.528438"]]},{"id":"c369b64f.528438","type":"http request","z":"86d9aa97.a961c8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=New%20Delhi,%20IN&appid=a37991d0ea20c0c2bc47b8a78eb8caf9","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":700,"wires":[["545ec2ca.8e21fc","4ec85fda.c9c06","277a981b.e9d568"]]},{"id":"545ec2ca.8e21fc","type":"function","z":"86d9aa97.a961c8","name":"Current Temperature","func":"msg.payload=msg.payload.main.temp;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":680,"wires":[["277e1454.c04e8c"]]},{"id":"277e1454.c04e8c","type":"ui_gauge","z":"86d9aa97.a961c8","name":"","group":"f41724c1.51d248","order":13,"width":4,"height":4,"gtype":"wave","title":"Temperature","label":"F","format":"{{value}}","min":0,"max":"500","colors":["#00ffff","#21bcc5","#4981b8"],"seg1":"","seg2":"","x":715,"y":680,"wires":[],"l":false},{"id":"4ec85fda.c9c06","type":"function","z":"86d9aa97.a961c8","name":"Current humidity","func":"msg.payload=msg.payload.main.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":740,"wires":[["b32ab9e5.636798"]]},{"id":"277a981b.e9d568","type":"function","z":"86d9aa97.a961c8","name":"Wind Speed","func":"msg.payload=msg.payload.wind.speed;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":800,"wires":[["66db481f.6c9ac8"]]},{"id":"66db481f.6c9ac8","type":"ui_gauge","z":"86d9aa97.a961c8","name":"","group":"f41724c1.51d248","order":4,"width":5,"height":5,"gtype":"gage","title":"Wind Speed","label":"m/s","format":"{{value}}","min":0,"max":10,"colors":["#8000ff","#15a5ea","#8000ff"],"seg1":"","seg2":"","x":735,"y":780,"wires":[],"l":false},{"id":"b32ab9e5.636798","type":"ui_gauge","z":"86d9aa97.a961c8","name":"","group":"f41724c1.51d248","order":11,"width":4,"height":4,"gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":755,"y":720,"wires":[],"l":false},{"id":"7191af4b.e1a4e","type":"ui_gauge","z":"86d9aa97.a961c8","name":"","group":"f41724c1.51d248","order":3,"width":4,"height":4,"gtype":"wave","title":"Predicated Power","label":" Kwh","format":"{{value}}","min":0,"max":"5000","colors":["#00ffff","#21bcc5","#4981b8"],"seg1":"","seg2":"","x":1115,"y":240,"wires":[],"l":false},{"id":"f41724c1.51d248","type":"ui_group","z":"","name":"Enter Params","tab":"65932e75.125f1","order":1,"disp":true,"width":17,"collapse":false},{"id":"65932e75.125f1","type":"ui_tab","z":"","name":"Wind Predication ","icon":"dashboard","disabled":false,"hidden":false}]